<hr class="hr-top"></hr>
<div class="masthead">
  <nav class="language-nav">
    <ul>
      <a href="#">CSS</a>
      <a href="#">HTML</a>
      <a href="#">Javascript</a>
      <a href="#">Ruby</a>
    </ul>
  </nav>
  <img src="assets/AA_Times_Logo.png" alt="App Academy Logo"/>
  <nav class="masthead-links">
    <ul>
      <li><button type="button" name="button">Tuesday, October 18, 2016</button></li>
      <li><i class="far fa-newspaper"></i><button class="underline-button" type="button" name="button">Today’s Paper</button></li>
      <li><i class="fas fa-video"></i><button class="underline-button" type="button" name="button">Video</button></li>
      <li><button type="button" name="button">77°F</button></li>
      <li><button type="button" name="button">AAO<strong>+100%</strong></button></li>
    </ul>
  </nav>
</div>
