<div class="masthead">


<nav class="language-nav">
  <ul>
    <a href="#">CSS</a>
    <a href="#">HTML</a>
    <a href="#">Javascript</a>
    <a href="#">Ruby</a>
  </ul>
</nav>

<nav class="masthead-links">
  <ul>
  <li>Tuesday, October 18, 2016</li>
  <li>Today’s Paper</li>
  <li>Video</li>
  <li>77°F</li>
  <li>AAO <strong>+100%</strong></li>
</ul>
</nav>

</div>
